/* You can add global styles to this file, and also import other style files */
.btn-primary
{
    border-color: #530082 !important;
    background-color: #530082 !important;
}

.btn-secondary
{
    color: #530082 !important;

}